<a href="https://colab.research.google.com/github/Adityardchavan/FintechProject_1/blob/master/Correlation_Matrix_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('/content/CORRELATION MATRIX.csv')
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

         Date       BTC    HBAR      ETH    BUSD  VECHAIN  IOTA
0  09/11/2021  68530.34  0.4257  4859.50  0.9999   0.1712  1.41
1  10/11/2021  68789.63  0.4084  4778.06  0.9999   0.1631  1.30
2  11/11/2021  65579.01  0.4339  4808.74  1.0000   0.1655  1.33
3  12/11/2021  65460.81  0.4516  4702.12  0.9981   0.1588  1.28
4  13/11/2021  64915.67  0.4374  4689.84  0.9999   0.1607  1.32

In [14]:
#Creating a Data Frame and Storing Values in it
df= pd.DataFrame(data, columns=['BTC','HBAR','ETH','BUSD','VECHAIN','IOTA'])
df

              BTC    HBAR      ETH    BUSD  VECHAIN  IOTA
0        68530.34  0.4257  4859.50  0.9999   0.1712  1.41
1        68789.63  0.4084  4778.06  0.9999   0.1631  1.30
2        65579.01  0.4339  4808.74  1.0000   0.1655  1.33
3        65460.81  0.4516  4702.12  0.9981   0.1588  1.28
4        64915.67  0.4374  4689.84  0.9999   0.1607  1.32
...           ...     ...      ...     ...      ...   ...
1048570      0.00     NaN      NaN     NaN      NaN   NaN
1048571      0.00     NaN      NaN     NaN      NaN   NaN
1048572      0.00     NaN      NaN     NaN      NaN   NaN
1048573      0.00     NaN      NaN     NaN      NaN   NaN
1048574      0.00     NaN      NaN     NaN      NaN   NaN

[1048575 rows x 6 columns]

In [15]:
corr = df.corr()
df.corr().round(3)
corr.style.background_gradient(cmap='coolwarm')